<section class="signIn">
  <div>

    <app-header></app-header>
    
    <div class="info">
      <h1>
        Bem-vindo à Autocar
      </h1>
      <p>Faça o login para acessar sua conta</p>
    </div>
    
    <form class="form">
      <label for="email">Endereço de email</label>
      <input type="email" name="email" id="email" placeholder="@email.com" />
      
      <label for="senha">Senha</label>
      <input type="password" name="senha" id="senha" placeholder="senha" />
      
      <button routerLink="/home">Entrar</button>
    </form>
  </div>
  <div>
    <img src="../../assets/car-bg.png" alt="">
  </div>
</section>