<app-header></app-header>
<main>
  <h1>Todos Véiculos</h1>

  <table>
    <thead>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Ano</th>
      <th>Km</th>
      <th>Cor</th>
      <th>Status</th>
      <th>Chassi</th>
      <th>Valor</th>
    </thead>
    <tr>
      <td>Ford</td>
      <td>Fiesta</td>
      <td>2017</td>
      <td>70.000</td>
      <td>Branco</td>
      <td>Vendido</td>
      <td>9BW</td>
      <td>R$ 39.000,00</td>
    </tr>
    <tr>
      <td>Ford</td>
      <td>Fiesta</td>
      <td>2017</td>
      <td>70.000</td>
      <td>Branco</td>
      <td>Vendido</td>
      <td>9BW</td>
      <td>R$ 39.000,00</td>
    </tr>
    <tr>
      <td>Ford</td>
      <td>Fiesta</td>
      <td>2017</td>
      <td>70.000</td>
      <td>Branco</td>
      <td>Vendido</td>
      <td>9BW</td>
      <td>R$ 39.000,00</td>
    </tr>
    <tr>
      <td>Ford</td>
      <td>Fiesta</td>
      <td>2017</td>
      <td>70.000</td>
      <td>Branco</td>
      <td>Vendido</td>
      <td>9BW</td>
      <td>R$ 39.000,00</td>
    </tr>
    <tr>
      <td>Ford</td>
      <td>Fiesta</td>
      <td>2017</td>
      <td>70.000</td>
      <td>Branco</td>
      <td>Vendido</td>
      <td>9BW</td>
      <td>R$ 39.000,00</td>
    </tr>
  </table>
</main>