@import url("https://use.typekit.net/fuh7edq.css");

.header {
  display: flex;
  align-items: center;
  margin-left: 5%;

  h2 {
    font-size: 36px;
    font-family: "poppins", sans-serif;
    color: #F54A48;
  }

}
