<section>
  <app-header></app-header>
   <h2>
      Bem-vindo, Carlos
   </h2>
   <p>Menu</p>
   <main>
    <div class="card">
      <div class="card-info">
        <h3>Veículos reservados e vendidos</h3>
        <p>Veículos reservados e vendidos por você</p>
        <a href="#">147 Veículos</a>
      </div>
      <img src="../../assets/img-1.png" alt="">
    </div>
    <div class="card">
      <div class="card-info">
        <h3>Listagem geral de veículos</h3>
        <p>Listagem de veículos de toda a empresa</p>
        <a href="#">180 Veículos</a>
      </div>
      <img src="../../assets/img-2.png" alt="">
    </div>
    <div routerLink="/employee" class="card">
      <div class="card-info">
        <h3>Funcionários da Empresa</h3>
        <p>Listagem de todos os funcionários da empresa</p>
        <a href="#">147 Funcionários</a>
      </div>
      <img src="../../assets/img-3.png" alt="">
    </div>
   </main>
</section>